.pic {
    background-image: url(../img/banner.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h,
.p {
    color:aqua;
}

.btn {
    width: 10rem;
    height: 3rem;
}

.card-img-top{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    word-spacing: 0px;
}
.bb{
    border: none;
}
.team img {
    width: 300px;
    height: 300px;
    border: 10px solid aqua;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.team a {
    display: inline-block;
    /* width: 40px;
  height: 40px; */
    border-radius: 50%;
    background-color:blueviolet;
    color: white;

}

.team i {
    padding: 1rem;
}
F4546 - Fatih 4 hours ago ! --------- NAVBAR ----------> ! ------- HERO SECTION ------>.pic {
    background-image: url(../img/banner.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.card-img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h,
.p {
    color: chocolate;
}

.btn {
    width: 10rem;
    height: 3rem;
}

/*! ------- SERVICES ----------> */
/* .icon{
    background-color: #DC3545;
    color:white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/*! ------- PORTFOLIO ----------> */
/*! ------- ABOUT US -----------> */
.bb {
    border: none;
}

/*! ------- OUR TEAM -----------> */
.team img {
    width: 250px;
    border: 10px solid #CCCCCC;
    border-radius: 50%;
}

.team a {
    display: inline-block;
    /* width: 40px;
  height: 40px; */
    border-radius: 50%;
    background-color: #333333;
    color: white;
}

.team i {
    padding: 1rem;
}

.second img {
    max-height: 50px;
}

.ss {
    display: flex;
    flex-wrap: wrap;
}